RewriteEngine On

RewriteRule ^admin                            - [L]
RewriteRule ^api                              - [L]
RewriteRule ^static                           - [L]
RewriteRule ^uploads                          - [L]

RewriteCond %{REQUEST_URI}  !/web/www/        [NC]
RewriteRule (.*)            /web/www/$1       [L]